<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
  </head>
  <body>
    <h1>Login to the forum</h1>

    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <input type="submit" value="Login" />
    </form>
  </body>
</html>
